<div style="padding-top:112px">
    <nav class="navbar fixed-bottom navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="navbar-text" data-bs-toggle="tooltip" title="Contact Me">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#contact_me_modal">
                            Made by Irfandi Riawan
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="modal fade" id="contact_me_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contact Me</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                It's not ready yet!
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>