<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="#">

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/.">ChildCyberCare</a>
            </li>
        </ul>
        <!-- Right-side nav -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/charts/">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/message_analyzer/">Message Analyzer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chatbot/">Chatbot</a>
            </li>
        </ul>
    </div>
</nav>